////// Use /////

@use "variables";
@use "mixins";

////// Base Style/////

html {
  height: 100%;
}

body {
  margin: 0;
}


/////////////////////////////////////// TABLET VERSION ////////////////////////////////

@media (min-width: 768px) and (max-width: 1024px) {
  .page-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding: 20px 0;
    width: 100%;

    .button-nav {
      display: none;
    }

    ul.nav-bar {
      margin-right: 20px;
      margin-left: -20px;
    }
  }

  .general-info {
    gap: 25px;
  }

  section.additional-info {
    gap: 10px;

    img.degree-icon,
    .heart-icon,
    .timer-icon,
    .baby-icon,
    .adults-icon,
    .foot-icon {
      padding: 25px 15px;
    }
  }

  .faq-items .faq-question {
    width: 600px;
  }
  .faq-answer {
    width: 600px !important;
  }

  form .message {
    width: 70%;
  }
}

/////////////////////////////////////// Mobile Version ////////////////////////////////

@media (max-width: 768px) {
  .page-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button-nav,
    .button-header {
      display: none;
    }

    .burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: variables.$primary-text-color;
        margin: 4px 0;
        transition: 0.3s;
      }
    }
    .navigation-links {
      display: none;
      .nav-bar {
        display: flex; // Hide by default for mobile

        &.active {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 60px;
          left: 20px;
          width: 100%;
          background-color: variables.$background-color;
          padding: 10px 0;
          gap: 15px;

          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .general-info {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding-bottom: 70px;

    .info-item {
      font-size: 12px;
    }
  }

  section.additional-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
    gap: 5px;
  }

  h2.faq-title {
    display: flex;
    text-align: center;
  }

  .faq-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbf9f9;
    margin-top: 0;
    width: 100%;

    .faq-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
    }

    .faq-question,
    .faq-answer {
      font-family: "Inter";
      font-size: 11px;
      width: 100%;
      padding: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .names {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .input-last-name,
    .input-name,
    .input-email,
    .phone-number,
    .message {
      display: flex;
      gap: 20px;
      background-color: variables.$cards-backgroud-color;
      border-radius: 20px 20px;
      border: none;
      color: black;
      padding-top: 10px;
      padding-left: 20px;
      padding-bottom: 10px;
      margin-top: 15px;
      font-family: variables.$primary-font-family;
      font-size: 13px;
      width: 250px;
    }

    .message {
      height: 200px;
      margin-bottom: 20px;
      width: 70%;
    }
  }

  .footer .container .social-icons {
    gap: 80px;
    padding-bottom: 20px;
  }
}
