@use "variables";
@use "mixins";

////////////// Header /////////////

.page-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: variables.$background-color;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px 0px 0px 0px;
  
    img.main-nav-logo-image {
      height: 50px;
    }
  
    ul.nav-bar {
      display: flex;
      list-style: none;
      gap: 30px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin-right: 28px;
      margin-left: -20px;
  
      a {
        font-family: variables.$secondary-font-family;
        text-decoration: none;
        color: variables.$primary-text-color;
        font-size: 15px;
      }
      :hover {
        color: variables.$hover-text-color;
      }
  
      .logo-Image img {
        max-height: 45px;
      }
    }
  
    .button-nav,
    .button-header {
      @include mixins.button-style;
      background-color: #b7cec3;
      color: white;
      padding: 5px 20px;
      font-size: 13px;
    }
  
    .button-nav a {
      text-decoration: none;
      color: white;
      display: inline-block;
    }

    .navigation-bar-mobile {
      display: none;
  }
  }

  /////////////////////////////////////// TABLET VERSION ////////////////////////////////

@media (min-width: 768px) and (max-width: 1024px) {
  .page-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 1000;
    padding: 20px 0;
    width: 100%;

    .button-nav {
      display: none;
    }

    ul.nav-bar {
      margin-right: 20px;
      margin-left: -20px;
    }
  }
}

/////////////////////////////////////// Mobile Version ////////////////////////////////

@media (max-width: 768px) {
  .page-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button-nav,
    .button-header {
      display: none;
    }

    .burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: variables.$primary-text-color;
        margin: 4px 0;
        transition: 0.3s;
      }
    }

    .navigation-bar-mobile {
      display: none;
    }

    .navigation-bar-mobile.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 70px;
      width: 100%;
      background-color: variables.$background-color;
      padding: 10px 0;
      gap: 15px;
      list-style: none;

      ul.list-burger-menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        text-align: center;
        cursor: pointer;

        a {
          font-family: "Inter";
          text-decoration: none;
          color: black;
          font-size: 15px;
      }
    }
    }

    .navigation-links {
      display: none;
      .nav-bar {
        display: flex; // Hide by default for mobile

        &.active {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 60px;
          left: 20px;
          width: 100%;
          background-color: variables.$background-color;
          padding: 10px 0;
          gap: 15px;

          a {
            font-size: 18px;
          }
        }
      }
    }
  }}


  // .navigation-bar-mobile{
  //   display: none;

    // &.active {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   position: absolute;
    //   top: 73px;
    //   width: 100%;
    //   background-color: variables.$background-color;
    //   padding: 10px 0;
    //   gap: 15px;

  //     a {
  //       font-size: 18px;
  //     }

  //     ul.list-burger-menu {
  //       list-style: none;
  //       cursor: pointer;
  //       display: flex;
  //       flex-direction: column;
  //       gap: 10px;
  //   }
  //   }
