@use "variables";

@mixin button-style {
  font-size: variables.$buttons-font-size;
  color: variables.$buttons-text-color;
  background-color: variables.$buttons-background-color;
  border: none;
  font-weight: variables.$buttons-font-weight;
  border-radius: variables.$buttons-border-radius;
  padding: variables.$buttons-padding;
  cursor: variables.$buttons-cursor;
  font-family: variables.$buttons-font-family;
}