////// Use /////

@use "variables";
@use "mixins";

///////////////////////////////////// SPECIALITIES PAGE ///////////////////////////

.specialities-page {
    display: flex;
    padding-top: 8%;
    position: relative;
    flex-direction: column;
    margin-bottom: 5%;
  
    h1.specialities-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: border-box;
      background-color: variables.$second-background-color;
      font-family: variables.$primary-font-family;
      font-weight: 300;
      padding: 20px;
      color: white;
      margin-bottom: 0px;
      margin-top: -5px;
      font-size: 1.5rem;
    }
  
    h2.specialities-subtitle,
    h2.specialities-subtitle-2 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 5%;
      font-family: variables.$primary-font-family;
      font-size: 1rem;
      margin-top: 3%;
    }
  
    h2.specialities-subtitle-2 {
      margin-top: -5px;
    }
  
    .specialities-info,
    .specialities-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .specialities-info-2 {
      align-items: center;
    }
  
    .specialities-item,
    .specialities-item-2 {
      display: flex;
      flex-direction: column;
      margin: 20px;
      justify-content: center;
      align-items: center;
    }
  
    .specialities-items,
    .specialities-items-2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  
    figcaption.specialities-text,
    .specialities-text-2 {
      color: variables.$hover-text-color;
      font-family: variables.$primary-font-family;
      font-size: 13px;
      font-weight: 700;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      margin-top: 85px;
    }
  
    img.icon-femme-enceinte,
    .icon-bebé,
    .icon-sportif,
    .icon-actif,
    .icon-senior,
    .icon-articulations,
    .icon-orl,
    .icon-systeme-digestif,
    .icon-mâchoire,
    .icon-pied {
      height: 100px;
      border: none;
      background-color: variables.$cards-backgroud-color;
      padding: 35px 25px;
      border-radius: 18px;
      color: variables.$second-background-color;
      font-size: 40px;
      margin-bottom: 15px;
    }
  }
  
  section.pregnancy-section {
  
    .pregnancy-section-image-container {
      display: flex;
      justify-content: center;
      margin-top: 2%;
      background-color: variables.$second-background-color;
      height: 390px;
  
      img.pregnancy-image {
        height: 330px;
        margin-bottom: 22px;
      }
    }
    .pregnancy-section-bullets {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: variables.$buttons-background-color;
      border-radius: 35px;
      margin-left: 30px;
      position: relative;
      margin-top: -60px;
      margin-right: 30px;
    }
    .bullet-categories {
      display: flex;
    }
  
    h2.pregnancy-section-title {
      display: flex;
      text-align: center;
      font-size: 18px;
      font-family: variables.$primary-font-family;
      font-weight: 200;
    }
  
    .bullet-category {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
  
      h3.bullet-category-title {
        display: flex;
        text-align: center;
        font-size: variables.$secondary-font-size;
        justify-content: center;
        align-items: center;
        font-family: variables.$primary-font-family;
        color: variables.$hover-text-color;
      }
      li.bullet-point {
        font-family: variables.$primary-font-family;
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
  
  //// Values Section
  
  section.values-section {
    .values-title-div {
      display: flex;
      font-family: variables.$primary-font-family;
      justify-content: center;
  
      .values-title {
        font-weight: 300;
      }
    }
  
    .values-first-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
  
      .icons-values-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
  
      .icon-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        img.icon-img {
          height: 80px;
          border: none;
          background-color: #fbf9f9;
          padding: 35px 25px;
          border-radius: 100%;
          color: #b7cec3;
          font-size: 40px;
          margin-bottom: 15px;
        }
  
        .item-name {
          font-family: variables.$primary-font-family;
          font-size: variables.$secondary-font-size;
        }
      }
  
      .values-button {
        @include mixins.button-style;
        background-color: #b7cec3;
        color: white;
        padding: 5px 20px;
        font-size: 13px;
        margin-top: 30px;
      }
    }
  }
  
  //// Pregnant Woman Section
  
  section.second-values-section {
    display: flex;
    background-color: variables.$second-background-color;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
  
    .second-values-div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
    }
  
    h3.second-values-title {
      margin-left: 3%;
      color: variables.$secondary-text-color;
      font-family: "Inter";
    }
  
    .cards-container {
      display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;
  
      img.card-image {
        height: 125px;
        width: auto;
        position: relative;
        margin-left: -13%;
      }
  
      .card-item {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
  
        .text-pregnancy-card {
          display: flex;
          flex-direction: row;
          background-color: variables.$buttons-background-color;
          border-radius: 20px;
          padding: 20px;
          font-family: variables.$primary-font-family;
          font-size: 13px;
          color: variables.$hover-text-color;
          font-weight: 500;
          width: 100px;
          height: 100px;
          text-align: center;
        }
      }
    }
  }
  
  //// Pregnant FAQ Section
  
  section.third-values-section {
    display: flex;
    background-color: variables.$buttons-background-color;
    padding-bottom: 5%;
    margin-bottom: -61px;
  
    .third-values-div {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
  
      .third-values-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }
  
      .third-values-title {
        font-family: variables.$primary-font-family;
        font-size: 1.5 rem;
        color: variables.$hover-text-color;
      }
      p.question {
        font-family: variables.$primary-font-family;
        font-size: variables.$secondary-font-size;
      }
    }
  }
  

/////////////////////////////////////// Mobile 2 Version ////////////////////////////////

@media (min-width: 769px) and (max-width: 1024px){

  .specialities-page {
     h1.specialities-title {
    margin-top: 17px;
} 

  .values-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .second-values-section {
    .second-values-div {
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }
    .cards-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
  }
  } 
}
}
/////////////////////////////////////// Mobile 2 Version ////////////////////////////////

@media (min-width: 601px) and (max-width: 768px){
  .specialities-page{

    h1.specialities-title {
      margin-top: 15px;
    }

    .values-section {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 0px;
  }
 

  .pregnancy-section {

    padding-bottom: 0px;

    h2.pregnancy-section-title {
      font-size: 15px;
    }

    .pregnancy-section-bullets {
      position: relative;
  }
   
    .pregnancy-section-image-container {
      display: flex;
      justify-content: center;
      margin-top: 2%;
      background-color: #b7cec3;
      height: 250px;

     img.pregnancy-image {
        height: 200px;
  }
  
}
  } 

  .values-section {
    .values-title-div {
  
    padding-top:0px;
     
  }
    .values-first-div {
      .icons-values-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    }
  }
  .second-values-section {

    h3.second-values-title {
      text-align: center;
  }
    .second-values-div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  }
}
}


  /////////////////////////////////////// Mobile Version ////////////////////////////////

@media (max-width: 600px) {

  .specialities-page {
    display: flex;
    position: relative;
    flex-direction: column;

    h1.specialities-title {
      margin-top: 40px;
    }
  
.pregnancy-section {

  h2.pregnancy-section-title {
    font-size: 13px;
    margin-left: 1%;
    margin-right: 1%;
  }

  .pregnancy-section-image-container {
    display: flex;
    justify-content: center;
    background-color: #b7cec3;
    height: 200px;
   
    img.pregnancy-image {
      height: 130px;
  }
  }

  .pregnancy-section-bullets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbf9f9;
    border-radius: 35px;
    margin-left: 13px;
    margin-right: 13px;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

.bullet-categories {
  display: flex;
  flex-direction: column;
}

}

.values-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 

.values-title-div {
    padding-top:0px; 
   
}

  .values-first-div{
    .icons-values-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }
  }
}

.second-values-section {

  h3.second-values-title {
    text-align: center;
}
  .second-values-div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cards-container {
display: flex;
flex-direction: column;
align-items: center;
}
}
}



section.third-values-section {
  display: flex;
    background-color: #fbf9f9;
    padding-bottom: 5%;
    margin-bottom: -34px;

  .third-values-div{
    .third-values-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  } 
}
}