// _variables.scss
$background-color: #F1DECD;
$primary-text-color: #AC7858;
$hover-text-color:  #8F6D5C;
$secondary-text-color: #F1DECD;
$second-background-color: #AC7858;
$third-background-color: #8F6D5C;

$primary-font-family: 'Roboto';
$secondary-font-family: 'Poppins';
$primary-font-size: 3.5rem;
$title-color: white;
$text-font-weight: 600;


// Buttons

$buttons-font-size: 12px;
$buttons-text-color: white;
$buttons-background-color:#985B3C;
$buttons-width: 20%;
